.DS_store

### .idea
# Default ignored files
.idea/shelf/
.idea/workspace.xml
# Datasource local storage ignored files
.idea/../../../../../../:\Users\regis\Workspace\SistemaDePedidosWeb\.idea/dataSources/
.idea/dataSources.local.xml
# Editor-based HTTP Client requests
.idea/httpRequests/
