body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.icon-button {
    width: 50px;
}

main {
  flex: 1 0 auto;
}

.logo {
  height: 35px;
}
.fa, .fab, .fal, .far, .fas {
  margin: 0 5px 0 5px;
}
.banner {
  height: 300px;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
}
footer {
  background-color: #F8F9FA;
  padding-top: 20px;
  color: black;
}
footer ul {
  list-style: none;
  padding-left: 0;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
    color: white;
    text-decoration: none;
}
.footer-copyright {
  background-color: rgba(51,51,51,0.08);
  padding: 15px 0 15px 0;
}

h1 a{
  color: black;
}

h1 a:hover{
  color: gray;
}
